:root{
  --white: #F8F8F7;
  --black:#3A3A3A;
  --green: #8BB14F;
  --dark-green: #617343;
  --dark: #595B57;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body{
  overflow-x: hidden;
  background: var(--black);
}
section{
  height: 100vh;
  min-width: 100%;
}

.logo{
  position: absolute;
  top: 120px;
  right: 120px;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
}
/* Scroll bar */
::-webkit-scrollbar{
  width: 0;
}
#scrollPath{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255,255,255,0.05);
  z-index: 1000;
}
#progressbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, var(--dark-green),var(--dark));
  z-index: 1000;
}
#progressbar:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, var(--dark-green),var(--dark));
  filter: blur(10px);
}
#progressbar:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, var(--dark-green),var(--dark));
  filter: blur(30px);
}

/* nav bar */
.nav-links{
  position: absolute;
  top: 75px;
  left: 150px;
  list-style: none;
  display: flex;
  border-left: 5px solid var(--dark-green);
  padding-left: 20px;

  animation: left-in 0.3s ease-in forwards;
  animation-delay: 0s;
  opacity: 0;
}
.nav-links li a{
  text-decoration: none;
  font-size: 18px;
  margin-right: 37px;
  color: var(--white);
}
.nav li .active,
.nav-links li a:hover{
  color: var(--green);
}
#welcome-section:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--green);
  clip-path: polygon(58% 0, 100% 0, 100% 100%, 85% 100%);

  animation: fade-in 0.3s ease-in forwards;
  animation-delay: 0s;
  opacity: 0;
}
.hero{
  margin-left: 10vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.hero-head{
  font-size: 10vw;
  font-family: sans-serif;
  -webkit-text-stroke: 2px var(--green);
  -webkit-text-fill-color:transparent;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.letter:hover{
  -webkit-text-fill-color: var(--green);
}
.intro{
  font-size: 20px;
  color: var(--white);
  padding-left: 20px;
}

.sci{
  position: absolute;
  bottom: 75px;
  left: 150px;
  list-style: none;
  display: flex;
  animation: left-in 0.3s ease-in forwards;
  animation-delay: 0s;
  opacity: 0;
}
.sci li a{
  text-decoration: none;
  font-size: 18px;
  margin-right: 30px;
  color: var(--white);
  opacity: 0.5;
}
.sci li a:hover{
  opacity: 1;
  color: var(--white);
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes left-in{
  0%{
    opacity: 0;
    transform: translateX(-200px);
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}

/* about me */
.container{
  padding-left: 150px;
  padding-top: 150px;
  z-index: 10;
}
.section-head{
  font-size: 48px;
  font-weight: 700;
  font-family: sans-serif;
  -webkit-text-stroke: 1px var(--green);
  -webkit-text-fill-color:transparent;
  letter-spacing: 2px;
  margin-bottom: 20px;
  animation: left-in 0.3s ease-in forwards;
  animation-delay: 0s;
  opacity: 0;
}
.section-head:hover{
  color: var(--green);
}
.about{
  font-size: 18px;
  color: var(--white);
  padding-bottom: 20px;
  z-index: 100;
}
.skills{
  font-size: 24px;
  font-weight: 900;
  color: var(--green);
  letter-spacing: 1.15pt;
  margin-bottom: 10px;
  margin-top: 20px;
  animation: left-in 0.3s ease-in forwards;
  animation-delay: 0s;
  opacity: 0;
}
.skill{
  font-size: 20px;
  color: var(--dark-green);
  font-weight: 700;
  animation: left-in 0.5s ease-in forwards;
  animation-delay: 0s;
  opacity: 0;
}
.skill-list{
  list-style: none;
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: var(--white);
  animation: fade-in 0.5s ease-in forwards;
  animation-delay: 0s;
  opacity: 0;
}
#about-me:before{
  content: '';
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--green);
  clip-path: polygon(85% 0, 100% 0, 100% 100%, 58% 100%);

  animation: fade-in 0.3s ease-in forwards;
  animation-delay: 0s;
  opacity: 0;
}

/* Projects */
.project{
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-tile{
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  border-radius: 5px;

  animation: fade-in 0.5s ease-in forwards;
  animation-delay: 0s;
  opacity: 0;
}

.project-tile .imgBx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.project-tile .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 5px;
}
.project-tile:hover .imgBx img{
  opacity: 0;
}
.project-tile .content{
  position: absolute;
  bottom: -10px;
  left: 10%;
  width: 80%;
  height: 20%;
  background: var(--green);
  transition: 0.5s;
  overflow: hidden;
  border-radius: 5px;

  padding: 15px;
  box-sizing: border-box;
}
.project-tile .content h2{
  margin: 0;
  margin-top: -5px;
  padding: 0;
  font-size: 20px;
  color: var(--white);
}
.project-title{
  color: var(--white);
}
.project-tile .content .links{
  list-style: none;
  margin: 10px;
}
.project-tile .content .links li a{
  text-decoration: none;
  color: var(--black);
}
.project-tile:hover .content{
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;

}
#projects:before{
  content: '';
  position: absolute;
  top: 200vh;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--green);
  clip-path: polygon(58% 0, 100% 0, 100% 100%, 85% 100%);

  animation: fade-in 0.3s ease-in forwards;
  animation-delay: 0s;
  opacity: 0;
}
